{% extends 'todo/base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="w-25 mx-auto position-absolute top-50 start-50 translate-middle">
        {% if error_message %}
            {% include 'todo/includes/error_message.html' %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                <input type="text" class="form-control" id="id_username" name="username" autofocus required>
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="id_password" name="password">
            </div>

            <button class="btn btn-primary" type="submit">Sign In</button>
            <hr>
            <div class="text-center">
                Need an account? <a class="btn btn-primary" href="{% url 'sign_up' %}" role="button">Sign Up</a>
            </div>
        </form>
    </div>
{% endblock %}